<div class="reflow-product-list ref-cards">
    <div class="row">
        @foreach (var product in Model)
        {
            
            <div class="col-md-6 col-sm-4 col-lg-4">
                <div class="card mb-4 shadow-sm" style="width: 100%; border: 1px solid #e0e0e0;">
                    <form asp-controller="cart" asp-action="create" method="post" class="reflow-add-to-cart ref-product-controls">
                        <input name="productId" value="@product.Id" hidden>
                        <a class="ref-product" href="@Url.Action("Details", "Product", new { id = product.Id })">
                            <div class="card-img-top ref-media">
                                <img class="ref-image" src="~/img/products/@product.ImageUrl" alt="@product.Name" loading="lazy" style="width: 100%; height: auto;" />
                                @if (product.OnSale)
                                {
                                    <div class="sale-badge">SALE</div>
                                }
                            </div>
                        </a>
                        <div class="card-body ref-product-data text-center">
                            <h5 class="card-title ref-name">@product.Brand @product.Name</h5>
                            @if (product.OnSale)
                            {
                                <strong class="ref-price ref-on-sale">
                                    <s class="ref-original-price">$@product.Price</s>
                                    $@product.DiscountedPrice
                                </strong>
                            }
                            else
                            {
                                <strong class="ref-price">$@product.Price</strong>
                            }

                            <div class="mt-3">
                                <button class="btn btn-primary" type="submit">Add to Cart</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>
</div>