<nav class="navbar navbar-expand-md bg-body py-3" style="display: flex;">
    <div class="container">
        <div class="collapse navbar-collapse" id="navcol-3" style="display: flex;">
            <ul class="navbar-nav mx-auto" style="display: flex;">
                <li class="nav-item" style="display: inline;">
                    <a class="nav-link" href="@Url.Action("Details", "Category", new { id = 5 })" style="display: flex;">Art and Crafts</a>
                    <a class="nav-link" href="@Url.Action("Details", "Category", new { id = 6 })" style="display: flex;">Baby and Toddler</a>
                    <a class="nav-link" href="@Url.Action("Details", "Category", new { id = 7 })" style="display: flex;">Bed and Bath</a>
                    <a class="nav-link" href="@Url.Action("Details", "Category", new { id = 8 })" style="display: flex;">Decor and Furniture</a>
                    <a class="nav-link" href="@Url.Action("Details", "Category", new { id = 1 })" style="display: flex;">Electronics</a>
                    <a class="nav-link" href="@Url.Action("Details", "Category", new { id = 3 })" style="display: flex;">Fashion and Beauty</a>
                    <a class="nav-link" href="@Url.Action("Details", "Category", new { id = 9 })" style="display: flex;">Health and Beauty</a>
                    <a class="nav-link" href="@Url.Action("Details", "Category", new { id = 10 })" style="display: flex;">Home and Garden</a>
                    <a class="nav-link" href="@Url.Action("Details", "Category", new { id = 2 })" style="display: flex;">Home and Kitchen</a>
                    <a class="nav-link" href="@Url.Action("Details", "Category", new { id = 11 })" style="display: flex;">Jewellery and Watches</a>
                    <a class="nav-link" href="@Url.Action("Details", "Category", new { id = 12 })" style="display: flex;">Luggage and Travel</a>
                    <a class="nav-link" href="@Url.Action("Details", "Category", new { id = 4 })" style="display: flex;">Musical Instruments</a>
                    <a class="nav-link" href="@Url.Action("Details", "Category", new { id = 13 })" style="display: flex;">Office and Stationery</a>
                    <a class="nav-link" href="@Url.Action("Details", "Category", new { id = 14 })" style="display: flex;">Pet Products</a>
                    <a class="nav-link" href="@Url.Action("Details", "Category", new { id = 15 })" style="display: flex;">Sports and Outdoor</a>
                    <a class="nav-link" href="@Url.Action("Details", "Category", new { id = 16 })" style="display: flex;">Tools and DIY</a>
                    <a class="nav-link" href="@Url.Action("Details", "Category", new { id = 17 })" style="display: flex;">Toys and Games</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
