@model IEnumerable<Category>
@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>
<div class="categories-container">
    @foreach(var obj in Model)
    {
        <div class="category-card">
            <img src="@obj.ImageUrl" class="category-card-image" alt="@obj.Name">
            <h2 class="category-card-title">@obj.Name</h2>
            <p class="category-card-description">@obj.Description</p>
            <a asp-action="Product" asp-route-categoryId="@obj.Id">
                <button class="category-button">View Products</button>
            </a>
        </div>
    }
</div>
