@model IEnumerable<variate.Models.Product>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

<div>
    @await Html.PartialAsync("_Searchbar")
</div>

<section class="py-5">
    <div class="container">
        <div class="row">
            <!-- Navbar (col-md-3) -->
            <div class="col-md-3 col-xxl-3">
                @await Html.PartialAsync("_Sidebar")
            </div>
            <div class="col-md-9 col-xxl-9">
                <!-- Slider -->
                <div class="simple-slider mb-5">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" style="background: url('@Url.Content("~/img/categories/arts_and_crafts.jpeg")') center center / cover no-repeat;"><a class="slider-badge" href="@Url.Action("Details", "Category", new { id = 5 })">View Category</a></div>
                            <div class="swiper-slide" style="background: url('@Url.Content("~/img/categories/baby_and_toddler.jpg")') center center / cover no-repeat;"><a class="slider-badge" href="@Url.Action("Details", "Category", new { id = 6 })">View Category</a></div>
                            <div class="swiper-slide" style="background: url('@Url.Content("~/products/3.jpg")') center center / cover no-repeat;"><a class="slider-badge" href="@Url.Action("Details", "Category", new { id = 7 })">View Category</a></div>
                        </div>
                        <!-- Pagination dots -->
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <!-- Products Section -->
                <div class="mb-4">
                    <h2 class="fw-bold text-center">Products on Sale</h2>
                    <p class="text-center text-muted">Check out the latest discounts and deals on our best-selling items.</p>
                </div>
                <div>
                    @await Html.PartialAsync("_Products")
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="border rounded border-0 border-white d-flex flex-column justify-content-between align-items-center flex-lg-row bg-primary-gradient p-4 p-lg-5">
            <div class="text-center text-lg-start py-3 py-lg-1">
                <h2 class="fw-bold mb-2">Subscribe to our newsletter</h2>
                <p class="mb-0">Together we Can!</p>
            </div>
            <form class="d-flex justify-content-center flex-wrap flex-lg-nowrap" method="post" data-bs-theme="light">
                <div class="my-2">
                    <input class="border rounded-pill shadow-sm form-control" type="email" name="email" placeholder="Your Email">
                </div>
                <div class="my-2">
                    <button class="btn btn-primary shadow ms-2" type="submit" style="border-radius: 10px;">Subscribe</button>
                </div>
            </form>
        </div>
    </div>
</section>
